<div class = "game">
  <div class = "game-container">
    <h1 class = "title">TUFFBLUFF</h1>
    <p class="url-description-text">Give this URL to all friends that wish to join or watch: https://tuffbluff.com/influence/{{ identifier }}</p>
    <p class="challengeable-claim-description">{{ getChallengeableClaimDescription() }}</p>
    <div *ngIf="game && !game.started" class="center">
      <p class="game-not-started-text" *ngIf="game && !game.started">The following game is over or not yet started.  Press start to begin.  Also, the influences will be shuffled upon pressing start so right now it's fine to look at anyone's influences (Once you start the game you should only look at your own)</p>
      <select *ngIf="game && !game.started" class="player-number-selector" #numberOfPlayers (change)="setNumberOfPlayers(numberOfPlayers.value)">
        <option [selected]="game && game.players && game.players.length === +2" [value]=2>2</option>
        <option [selected]="game && game.players && game.players.length === +3" [value]=3>3</option>
        <option [selected]="game && game.players && game.players.length === +4" [value]=4>4</option>
        <option [selected]="game && game.players && game.players.length === +5" [value]=5>5</option>
        <option [selected]="game && game.players && game.players.length === +6" [value]=6>6</option>
      </select>
      <button *ngIf="game && !game.started" class="start-button" (click)="startGame()">start</button>
    </div>
    <div *ngIf="game && game.started && game.phase && game.phase > 0 && game.phase < 10 && selection === 'none' && this.game.influenceActionNumber === -1" class="turn-options"
         [ngStyle]="{'background-color': getColorCode(game.turn)}">
      <div class ="name">
        {{ game.players[game.turn].name }}
      </div>
      <img class="left-shape" src="{{ getShapePath(this.game.turn) }}"/>
      <img class="right-shape" src="{{ getShapePath(this.game.turn) }}"/>
      <button class="take-one-coin-option" (click)="takeOneCoin()">
        <p class="text-option-1">Take 1 Coin</p>
        <p class="text-option-subcaption-1">Unchallengeable, Unblockable</p>
      </button>
      <button class="take-two-coins-option" (click)="takeTwoCoins()">
        <p class="text-option-2">Take 2 Coins</p>
        <p class="text-option-subcaption-2">Blockable by Duke</p>
      </button>
      <button class="take-three-coins-option" (click)="takeThreeCoins()">
        <p class="text-option-3">Claim Duke: Take 3 Coins</p>
      </button>
      <button class="steal-option" (click)="setSelection('steal')">
        <p class="text-option-4">Claim Captain: Steal 2 Coins</p>
        <p class="text-option-subcaption-4">Blockable by Captain or Ambassador</p>
      </button>
      <button class="shuffle-option" (click)="goToAmbassadorInitialState()">
        <p class="text-option-5">Claim Ambassador: Shuffle</p>
        <p class="text-option-subcaption-5">Gives 2 potential other influence options</p>
      </button>
      <button class="assassinate-option" (click)="setSelection('kill')">
        <p class="text-option-6">Claim Assassin: Kill An Influence</p>
        <p class="text-option-subcaption-6">Costs 3 Coins, Blockable by Contessa</p>
      </button>
      <button class="coup-option" (click)="setSelection('coup')">
        <p class="text-option-7">Kill An Influence (Coup)</p>
        <p class="text-option-subcaption-7">Costs 7 Coins, Unchallengeable, Unblockable</p>
      </button>
    </div>
    <div *ngIf="game && game.started && game.phase && game.phase > 0 && game.phase < 10 && selection !== 'none' && this.game.influenceActionNumber === -1" class="target-player-selection-box"
         [ngStyle]="{'background-color': getColorCode(game.turn)}">
      <div class ="name">
        {{ game.players[game.turn].name }}
      </div>
      <img class="left-shape" src="{{ shapePath }}"/>
      <img class="right-shape" src="{{ shapePath }}"/>
      <div class="select-player-prompt-container">
        <p class="select-player-prompt">{{ selection === 'coup' ? 'Who do you want to coup?' : selection === 'kill' ? 'Who do you want to assassinate?' : 'Who do you want to steal from?' }}</p>
      </div>
      <div class="container-of-all-other-players" *ngFor="let player of game.players; let i = index">
        <div class="space-between-player-selection-options-1" *ngIf="game.players.length === 2 && i !== game.turn"></div>
        <div class="space-between-player-selection-options-2" *ngIf="game.players.length === 3 && i !== game.turn"></div>
        <div *ngIf="i !== game.turn" class = "player-for-selection-container" [ngStyle]="{'background-color': getColorCode(i)}" (click)="performActionToPlayer(i)">
          <h2 class="player-name-for-selection">{{ player.name }}</h2>
          <img class="left-player-shape" src="{{ getShapePath(i) }}"/>
          <img class="right-player-shape" src="{{ getShapePath(i) }}"/>
        </div>
        <div class="space-between-player-selection-options-3" *ngIf="game.players.length === 4 && i !== game.turn"></div>
        <div class="space-between-player-selection-options-4" *ngIf="game.players.length === 5 && i !== game.turn"></div>
        <div class="space-between-player-selection-options-5" *ngIf="game.players.length === 6 && i !== game.turn"></div>
      </div>
      <button class="back-button" (click)="setSelection('none')" *ngIf="game.players[game.turn].coins < 10">Back</button>
    </div>
<!--    <div class="response-to-challenge-square" *ngIf="game && game.started && (game.phase === 10 || game.phase === 12 || game.phase === 14-->
<!--        || game.phase === 16 || game.phase === 18 || game.phase === 21 || game.phase === 24 || game.phase === 27)">-->
<!--      <p class="challenge-description-text">{{ this.game.players[this.game.challenger].name }} has challenged {{ this.game.players[this.game.actionPerformer].name }}'s claim to having a {{ getChallengedInfluence() }}, Now {{ this.game.players[this.game.actionPerformer].name }} must click one of their influences to reveal.  If the influence is a {{ getChallengedInfluence() }}, then {{ this.game.players[this.game.actionPerformer].name }} will receive a new random influence in its place, and {{ this.game.players[this.game.challenger].name }} will lose an influence.  If the revealed influence is not a {{ getChallengedInfluence() }}, then it will be a lost influence for {{ this.game.players[this.game.actionPerformer].name }}.</p>-->
<!--    </div>-->
<!--    <div class="must-lose-influence-for-challenging-square" *ngIf="game && game.started && (game.phase === 11 || game.phase === 13 || game.phase === 15-->
<!--        || game.phase === 17 || game.phase === 19 || game.phase === 22 || game.phase === 25 || game.phase === 28)">-->
<!--      <p class="challenge-description-text">{{ this.game.players[this.game.challenger].name }} has incorrectly challenged a claim and must now click on an influence to lose.</p>-->
<!--    </div>-->
    <div class="information-square" *ngIf="(game && game.started) && (game.phase > 9 || game.influenceActionNumber !== -1)">
      <p class="information-box-text">{{ getInformationSquareInformation() }}</p>
    </div>
    <app-influence-avatar #avatar1 [game]="game" [index]="0" *ngIf="game && game.players"
                          class="{{ getPlayerClassName(1) }}"></app-influence-avatar>
    <app-influence-avatar #avatar2 [game]="game" [index]="1" *ngIf="game && game.players"
                          class="{{ getPlayerClassName(2) }}"></app-influence-avatar>
    <app-influence-avatar #avatar3 [game]="game" [index]="2" *ngIf="game && game.players && game.players.length > 2"
                          class="{{ getPlayerClassName(3) }}"></app-influence-avatar>
    <app-influence-avatar #avatar4 [game]="game" [index]="3" *ngIf="game && game.players && game.players.length > 3"
                          class="{{ getPlayerClassName(4) }}"></app-influence-avatar>
    <app-influence-avatar #avatar5 [game]="game" [index]="4" *ngIf="game && game.players && game.players.length > 4"
                          class="{{ getPlayerClassName(5) }}"></app-influence-avatar>
    <app-influence-avatar #avatar6 [game]="game" [index]="5" *ngIf="game && game.players && game.players.length > 5"
                          class="{{ getPlayerClassName(6) }}"></app-influence-avatar>
    <button class="end-game-button" *ngIf="game && game.started" (click)="endGame()">End Game</button>
    <button class="back-to-start-screen-button" (click)="navigateBackToStartScreen()">Back</button>
    <button class="delete-game-button" (click)="deleteGame()">Delete Game</button>
  </div>
</div>
