<div class = "avatar" [ngStyle]="{'background-color': this.colorCode}">
  <img class="left-shape" src="{{ shapePath }}"/>
  <div class ="name" *ngIf="!changingName">
    {{ game.players[index].name }}
  </div>
  <input type="text" class="name-change" *ngIf="changingName" #newName (keyup.enter)="changeName(newName.value)"/>
  <button class="set-name" (click)="toggleChangingName()"></button>
  <img class="right-shape" src="{{ shapePath }}"/>
  <p class = "color-title">color</p>
  <div class="color-wheel-left" (click)="changeToNextAvailableDownwardColor()">
    <img class="left-arrow" src = "assets/images/triangle.jpg"/>
  </div>
  <div class="color-wheel-right" (click)="changeToNextAvailableUpwardColor()">
    <img class="right-arrow" src = "assets/images/triangle.jpg"/>
  </div>
  <p class = "shape-title">shape</p>
  <div class="shape-wheel-left" (click)="changeToNextAvailableDownwardShape()">
    <img class="left-arrow" src = "assets/images/triangle.jpg"/>
  </div>
  <div class="shape-wheel-right" (click)="changeToNextAvailableUpwardShape()">
    <img class="right-arrow" src = "assets/images/triangle.jpg"/>
  </div>
  <h1 class="{{ game.players[index].coins > 9 ? 'coin-quantity-2-digit' : 'coin-quantity-1-digit' }}">{{game.players[index].coins}}</h1>
  <div class="money-container">
    <img class="coin-symbol" src="assets/images/coin.jpg"/>
  </div>
  <div class = "responsive-actions-container">
    <button class="responsive-action-button" *ngIf="evaluateIfChallengeableActionExists() && index !== this.game.actionPerformer" (click)="challengeClaim()">
      Challenge Latest Claim
    </button>
    <div class="empty-space-below-player-option" *ngIf="evaluateIfChallengeableActionExists()"></div>
    <button class="responsive-action-button" *ngIf="this.game.phase === 8 && this.index !== this.game.actionPerformer" (click)="blockForeignAid()">
      Claim Duke: Block 2-Coin Taking
    </button>
    <div class="empty-space-below-player-option" *ngIf="this.game.phase === 8"></div>
    <button class="responsive-action-button" *ngIf="(this.game.phase === 2 || this.game.phase === 3) && this.game.actionRecipient === index">
      Claim Captain: Block Steal
    </button>
    <div class="empty-space-below-player-option" *ngIf="(this.game.phase === 2 || this.game.phase === 3) && this.game.actionRecipient === index"></div>
    <button class="responsive-action-button" *ngIf="(this.game.phase === 2 || this.game.phase === 3) && this.game.actionRecipient === index">
      Claim Ambassador: Block Steal
    </button>
    <div class="empty-space-below-player-option" *ngIf="(this.game.phase === 2 || this.game.phase === 3) && this.game.actionRecipient === index"></div>
    <button class="responsive-action-button" *ngIf="(this.game.phase === 23 || this.game.phase === 26) && this.game.actionRecipient === index">
      Claim Contessa: Block Kill
    </button>
    <div class="empty-space-below-player-option" *ngIf="(this.game.phase === 23 || this.game.phase === 26) && this.game.actionRecipient === index"></div>
  </div>
  <button class="display-influence-button" (click)="toggleDisplayingInfluences()">{{ displayingInfluences ? 'Hide Influences' : 'Display Influences'}}</button>
  <div class = "left-influence-container" *ngIf="game.influenceActionNumber !== getLeftDepartInfluenceNumber() && game.influenceActionNumber !== getLeftArriveInfluenceNumber()">
    <div class="top-left-part-of-x" *ngIf="!game.players[index].leftInfluenceAlive"></div>
    <div class="top-right-part-of-x" *ngIf="!game.players[index].leftInfluenceAlive"></div>
    <button class="select-influence-to-reveal-button" *ngIf="isChallenged()" (click)="revealInfluenceInResponseToChallenge(true)"></button>
    <button class="select-influence-to-lose-for-incorrectly-challenging-button" *ngIf="mustLoseInfluenceForIncorrectlyChallenging() && game.players[index].leftInfluenceAlive" (click)="selectInfluenceToLoseForIncorrectlyChallenging(true)"></button>
    <p class="influence-text" *ngIf="(displayingInfluences === true || !game.players[index].leftInfluenceAlive) && ((this.game.phase !== 20 && this.game.phase !== 30) || this.game.turn !== this.index )">{{ leftInfluence }}</p>
    <p class="ambassador-option-1-text" *ngIf="leftAmbassadorSelection === 0 && (this.game.phase === 20 || this.game.phase === 30) && displayingInfluences === true && game.turn === index">{{ getInfluenceOfIndex(this.game.players[index].leftInfluence) }}</p>
    <p class="ambassador-option-2-text" *ngIf="leftAmbassadorSelection === 1 && (this.game.phase === 20 || this.game.phase === 30) && displayingInfluences === true && game.turn === index">{{ getInfluenceOfIndex(this.game.players[index].rightInfluence) }}</p>
    <p class="ambassador-option-3-text" *ngIf="leftAmbassadorSelection === 2 && (this.game.phase === 20 || this.game.phase === 30) && displayingInfluences === true && game.turn === index">{{ getInfluenceOfIndex(this.game.extraInfluence1) }}</p>
    <p class="ambassador-option-4-text" *ngIf="leftAmbassadorSelection === 3 && (this.game.phase === 20 || this.game.phase === 30) && displayingInfluences === true && game.turn === index">{{ getInfluenceOfIndex(this.game.extraInfluence2) }}</p>
  </div>
  <div class="left-influence-departure-container" *ngIf="showDiv" [@flyInOut]>
    FLYINOUT
  </div>
  <div *ngIf="getLeftDepartInfluenceNumber() !== this.game.influenceActionNumber" class="left-influence-departing" [@departLeftInfluence]>
    <p class="influence-text" *ngIf="getLeftDepartInfluenceNumber() === this.game.influenceActionNumber">{{ game.departingInfluence }}</p>
  </div>in
  <div  *ngIf="getLeftArriveInfluenceNumber() === this.game.influenceActionNumber" class="left-influence-arriving" [@arriveLeftInfluence]>
    <p class="influence-text" *ngIf="displayingInfluences === true">{{ leftInfluence }}</p>
  </div>
  <button (click)="toggleDiv()">big button</button>
  <div class = "right-influence-container" *ngIf="game.influenceActionNumber !== getRightDepartInfluenceNumber() && game.influenceActionNumber !== getRightArriveInfluenceNumber()">
    <div class="top-left-part-of-x" *ngIf="!game.players[index].rightInfluenceAlive"></div>
    <div class="top-right-part-of-x" *ngIf="!game.players[index].rightInfluenceAlive"></div>
    <button class="select-influence-to-reveal-button" *ngIf="isChallenged()" (click)="revealInfluenceInResponseToChallenge(false)"></button>
    <button class="select-influence-to-lose-for-incorrectly-challenging-button" *ngIf="mustLoseInfluenceForIncorrectlyChallenging() && game.players[index].rightInfluenceAlive" (click)="selectInfluenceToLoseForIncorrectlyChallenging(false)"></button>
    <p class="influence-text" *ngIf="(displayingInfluences === true || !game.players[index].rightInfluenceAlive) && ((this.game.phase !== 20 && this.game.phase !== 30) || this.game.turn !== this.index)">{{ rightInfluence }}</p>
    <p class="ambassador-option-1-text" *ngIf="rightAmbassadorSelection === 0 && (this.game.phase === 20 || this.game.phase === 30) && displayingInfluences === true && game.turn === index">{{ getInfluenceOfIndex(this.game.players[index].leftInfluence) }}</p>
    <p class="ambassador-option-2-text" *ngIf="rightAmbassadorSelection === 1 && (this.game.phase === 20 || this.game.phase === 30) && displayingInfluences === true && game.turn === index">{{ getInfluenceOfIndex(this.game.players[index].rightInfluence) }}</p>
    <p class="ambassador-option-3-text" *ngIf="rightAmbassadorSelection === 2 && (this.game.phase === 20 || this.game.phase === 30) && displayingInfluences === true && game.turn === index">{{ getInfluenceOfIndex(this.game.extraInfluence1) }}</p>
    <p class="ambassador-option-4-text" *ngIf="rightAmbassadorSelection === 3 && (this.game.phase === 20 || this.game.phase === 30) && displayingInfluences === true && game.turn === index">{{ getInfluenceOfIndex(this.game.extraInfluence2) }}</p>
  </div>
  <div *ngIf="getRightDepartInfluenceNumber() !== this.game.influenceActionNumber" class="right-influence-departing" [@departRightInfluence]>
    <p class="influence-text" *ngIf="getRightDepartInfluenceNumber() === this.game.influenceActionNumber">{{ game.departingInfluence }}</p>
  </div>
  <div  *ngIf="getRightArriveInfluenceNumber() === this.game.influenceActionNumber" class="right-influence-arriving" [@arriveRightInfluence]>
    <p class="influence-text" *ngIf="displayingInfluences === true">{{ rightInfluence }}</p>
  </div>
  <div class="left-change-left-influence-arrow" *ngIf="(this.game.phase === 20 || this.game.phase === 30) && this.game.turn === this.index" (click)="switchShuffleSelection(true, true)">
    <img class="left-arrow" src = "assets/images/triangle.jpg"/>
  </div>
  <div class="right-change-left-influence-arrow" *ngIf="(this.game.phase === 20 || this.game.phase === 30) && this.game.turn === this.index" (click)="switchShuffleSelection(true, false)">
    <img class="right-arrow" src = "assets/images/triangle.jpg"/>
  </div>
  <button class="ambassador-done-button" *ngIf="this.index === this.game.turn && (this.game.phase === 20 || this.game.phase === 30)" (click)="finalizeAmbassadorSelection()">Done</button>
  <div class="left-change-right-influence-arrow" *ngIf="(this.game.phase === 20 || this.game.phase === 30) && this.game.turn === this.index" (click)="switchShuffleSelection(false, true)">
    <img class="left-arrow" src = "assets/images/triangle.jpg"/>
  </div>
  <div class="right-change-right-influence-arrow" *ngIf="(this.game.phase === 20 || this.game.phase === 30) && this.game.turn === this.index" (click)="switchShuffleSelection(false, false)">
    <img class="right-arrow" src = "assets/images/triangle.jpg"/>
  </div>
</div>
