<div class = "avatar" [ngStyle]="{'background-color': this.colorCode}">
    <img class="left-shape" src="{{ shapePath }}"/>
    <div class ="name" *ngIf="!changingName">
        {{ game.players[index].name }}
    </div>
    <input type="text" class="name-change" *ngIf="changingName" #newName (keyup.enter)="changeName(newName.value)"/>
    <button class="set-name" (click)="toggleChangingName()"></button>
    <img class="right-shape" src="{{ shapePath }}"/>
    <p class = "color-title">color</p>
    <div class="color-wheel-left" (click)="changeToNextAvailableDownwardColor()">
        <img class="left-arrow" src = "assets/images/triangle.jpg"/>
    </div>
    <div class="color-wheel-right" (click)="changeToNextAvailableUpwardColor()">
        <img class="right-arrow" src = "assets/images/triangle.jpg"/>
    </div>
    <p class = "shape-title">shape</p>
    <div class="shape-wheel-left" (click)="changeToNextAvailableDownwardShape()">
        <img class="left-arrow" src = "assets/images/triangle.jpg"/>
    </div>
    <div class="shape-wheel-right" (click)="changeToNextAvailableUpwardShape()">
        <img class="right-arrow" src = "assets/images/triangle.jpg"/>
        <h1 class="{{ game.players[index].coins > 9 ? 'coin-quantity-2-digit' : 'coin-quantity-1-digit' }}">{{game.players[index].coins}}</h1>
    </div>
  <div class="money-container">
    <img class="coin-symbol" src="assets/images/coin.jpg"/>
  </div>
  <div class = "responsive-actions-container">
    <button class="responsive-action-button" *ngIf="evaluateIfChallengeableActionExists()" (click)="challengeClaim()">
      Challenge Latest Claim
    </button>
    <div class="empty-space-below-player-option" *ngIf="evaluateIfChallengeableActionExists()"></div>
    <button class="responsive-action-button" *ngIf="this.game.phase === 8">
      Claim Duke: Block 2-Coin Taking
    </button>
    <div class="empty-space-below-player-option" *ngIf="this.game.phase === 8"></div>
    <button class="responsive-action-button" *ngIf="(this.game.phase === 2 || this.game.phase === 3) && this.game.actionRecipient === index">
      Claim Captain: Block Steal
    </button>
    <div class="empty-space-below-player-option" *ngIf="(this.game.phase === 2 || this.game.phase === 3) && this.game.actionRecipient === index"></div>
    <button class="responsive-action-button" *ngIf="(this.game.phase === 2 || this.game.phase === 3) && this.game.actionRecipient === index">
      Claim Ambassador: Block Steal
    </button>
    <div class="empty-space-below-player-option" *ngIf="(this.game.phase === 2 || this.game.phase === 3) && this.game.actionRecipient === index"></div>
    <button class="responsive-action-button" *ngIf="(this.game.phase === 23 || this.game.phase === 26) && this.game.actionRecipient === index">
      Claim Contessa: Block Kill
    </button>
    <div class="empty-space-below-player-option" *ngIf="(this.game.phase === 23 || this.game.phase === 26) && this.game.actionRecipient === index"></div>
  </div>
    <button class="display-influence-button" (click)="toggleDisplayingInfluences()">{{ displayingInfluences ? 'Hide Influences' : 'Display Influences'}}</button>
    <div class = "left-influence-container">
      <div class="top-left-part-of-x" *ngIf="!game.players[index].leftInfluenceAlive"></div>
      <div class="top-right-part-of-x" *ngIf="!game.players[index].leftInfluenceAlive"></div>
      <button class="select-influence-to-reveal-button" *ngIf="isChallenged()" (click)="revealInfluenceInResponseToChallenge(true)"></button>
      <p class="influence-text" *ngIf="displayingInfluences === true || !game.players[index].leftInfluenceAlive">{{ leftInfluence }}</p>
    </div>
    <div class = "right-influence-container">
      <div class="top-left-part-of-x" *ngIf="!game.players[index].rightInfluenceAlive"></div>
      <div class="top-right-part-of-x" *ngIf="!game.players[index].rightInfluenceAlive"></div>
      <button class="select-influence-to-reveal-button" *ngIf="isChallenged()" (click)="revealInfluenceInResponseToChallenge(false)"></button>
      <p class="influence-text" *ngIf="displayingInfluences === true || !game.players[index].rightInfluenceAlive">{{ rightInfluence }}</p>
    </div>
</div>
