.avatar {
    height: 250px;
    width: 250px;
    border: 2px solid black;
    position: relative;
}

.left-shape {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 20px;
    top: 5px;
    transform: rotate(-45deg);
}

.right-shape {
    position: absolute;
    height: 20px;
    width: 20px;
    right: 20px;
    top: 5px;
    transform: rotate(45deg);
}

.name {
    height:20px;
    width: 100px;
    border: 2px solid black;
    position: absolute;
    top:5px;
    left: 75px;
    text-align: center;
    background-color: white;
}

.name-change {
    height:20px;
    width: 100px;
    border: 2px solid black;
    position: absolute;
    top:5px;
    left: 75px;
}

.color-title {
    position: absolute;
    top: 17px;
    left: 30px;
    color: black;
}

.color-wheel-left {
    position: absolute;
    border: 1px solid black;
    height: 15px;
    width: 15px;
    top: 50px;
    left: 25px;
    z-index: 3;
    background-color: gray;
}

.color-wheel-right {
    position: absolute;
    border: 1px solid black;
    height: 15px;
    width: 15px;
    top: 50px;
    left: 48px;
    z-index: 3;
    background-color: gray;
}

.shape-title {
    position: absolute;
    top: 17px;
    right: 26px;
    color: black;
}

.shape-wheel-left {
    position: absolute;
    border: 1px solid black;
    height: 15px;
    width: 15px;
    top: 50px;
    right: 48px;
    background-color: gray;
}

.shape-wheel-right {
    position: absolute;
    border: 1px solid black;
    height: 15px;
    width: 15px;
    top: 50px;
    right: 25px;
    background-color: gray;
}

.left-arrow {
    position: absolute;
    height: 15px;
    width: 15px;
    transform: rotate(-90deg);
}

.right-arrow {
    position: absolute;
    height: 15px;
    width: 15px;
    transform: rotate(90deg);
}