.avatar {
    height: 250px;
    width: 250px;
    border: 2px solid black;
    position: relative;
}

.left-shape {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 20px;
    top: 5px;
    transform: rotate(-45deg);
}

.right-shape {
    position: absolute;
    height: 20px;
    width: 20px;
    right: 20px;
    top: 5px;
    transform: rotate(45deg);
}

.name {
    height:20px;
    width: 100px;
    border: 2px solid black;
    position: absolute;
    top:5px;
    left: 75px;
    text-align: center;
    background-color: rgb(230, 230, 230);
    font-weight: bold;
}

.name-change {
    height:20px;
    width: 100px;
    border: 2px solid black;
    position: absolute;
    top:5px;
    left: 75px;
}

.set-name {
    height: 24px;
    border: 2px solid black;
    position: absolute;
    top:5px;
    left:178px;
    width:15px;
    text-align: center;
    margin: auto;
}

.color-title {
    position: absolute;
    top: 17px;
    left: 30px;
    color: black;
}

.color-wheel-left {
    position: absolute;
    border: 1px solid black;
    height: 15px;
    width: 15px;
    top: 50px;
    left: 25px;
    z-index: 3;
    background-color: gray;
}

.color-wheel-right {
    position: absolute;
    border: 1px solid black;
    height: 15px;
    width: 15px;
    top: 50px;
    left: 48px;
    z-index: 3;
    background-color: gray;
}

.shape-title {
    position: absolute;
    top: 17px;
    right: 26px;
    color: black;
}

.shape-wheel-left {
    position: absolute;
    border: 1px solid black;
    height: 15px;
    width: 15px;
    top: 50px;
    right: 48px;
    background-color: gray;
}

.shape-wheel-right {
    position: absolute;
    border: 1px solid black;
    height: 15px;
    width: 15px;
    top: 50px;
    right: 25px;
    background-color: gray;
}

.left-arrow {
    position: absolute;
    height: 15px;
    width: 15px;
    transform: rotate(-90deg);
}

.right-arrow {
    position: absolute;
    height: 15px;
    width: 15px;
    transform: rotate(90deg);
}

.display-influence-button {
    position: absolute;
    top: 170px;
    left: 65px;
    width: 130px;
}

.left-influence-container {
    position: absolute;
    height:20px;
    left: 36px;
    width: 86px;
    border: 2px solid black;
    top: 205px;
}

.right-influence-container {
    position: absolute;
    height:20px;
    left: 127px;
    width: 86px;
    border: 2px solid black;
    top: 205px;
}

.influence-text {
    position: absolute;
    font-weight: bold;
    top: -14px;
    left: 2px;
    width: 80px;
    text-align: center;
}

.money-container {
  height: 30px;
  width: 50px;
  position:absolute;
  background-color: white;
  border: 2px solid black;
  top: 34px;
  left: 100px;
}

.coin-symbol {
  position: absolute;
  height: 27px;
  width: 27px;
  top: 1px;
  left: -3px;
}

.coin-quantity-2-digit {
  position: absolute;
  bottom: -20px;
  left: -90px;
  z-index: 1;
}

.coin-quantity-1-digit {
  position: absolute;
  bottom: -20px;
  left: -83px;
  z-index: 1;
}

.responsive-actions-container {
  position: absolute;
  height: 96px;
  width: 248px;
  top: 75px;
  left: 5px;
}

.responsive-action-button {
  height: 28px;
  width: 240px;
  background-color: white;
  border: 2px solid black;
  left: 10px;
  font-weight: bold;
  font-family: Georgia;
  font-size: 12px;
}

.empty-space-below-player-option {
  height: 3px;
  width: 10px;
}

.select-influence-to-reveal-button {
  position: absolute;
  position: absolute;
  height:20px;
  width: 86px;
}

.top-left-part-of-x {
  position: absolute;
  top: 9px;
  left: -2px;
  width: 90px;
  height: 2px;
  background-color: black;
  transform: rotate(15deg);
}

.top-right-part-of-x {
  position: absolute;
  top: 9px;
  left: -2px;
  width: 90px;
  height: 2px;
  background-color: black;
  transform: rotate(-15deg);
}
