<div class = "avatar" [ngStyle]="{'background-color': this.colorCode}">
  <img class="left-shape" src="{{ shapePath }}"/>
  <div class ="name" *ngIf="!changingName">
    {{ game.players[index].name }}
  </div>
  <input type="text" class="name-change" *ngIf="changingName" #newName (keyup.enter)="changeName(newName.value)" maxlength="11" (change)="setTypedName(newName.value)" />
  <button class="set-name" (click)="toggleChangingName(typedName)" *ngIf="game && !game.started"></button>
  <img class="right-shape" src="{{ shapePath }}"/>
  <p class = "color-title" *ngIf="game && !game.started">color</p>
  <div class="color-wheel-left" (click)="changeToNextAvailableDownwardColor()" *ngIf="game && !game.started">
    <img class="left-arrow" src = "assets/images/triangle.jpg"/>
  </div>
  <div class="color-wheel-right" (click)="changeToNextAvailableUpwardColor()" *ngIf="game && !game.started">
    <img class="right-arrow" src = "assets/images/triangle.jpg"/>
  </div>
  <p class = "shape-title" *ngIf="game && !game.started">shape</p>
  <div class="shape-wheel-left" (click)="changeToNextAvailableDownwardShape()" *ngIf="game && !game.started">
    <img class="left-arrow" src = "assets/images/triangle.jpg"/>
  </div>
  <div class="shape-wheel-right" (click)="changeToNextAvailableUpwardShape()" *ngIf="game && !game.started">
    <img class="right-arrow" src = "assets/images/triangle.jpg"/>
  </div>
  <h1 class="{{ game.players[index].coins > 9 ? 'coin-quantity-2-digit' : 'coin-quantity-1-digit' }}">{{game.players[index].coins}}</h1>
  <div class="money-container">
    <img class="coin-symbol" src="assets/images/coin.jpg"/>
  </div>
  <div class = "responsive-actions-container">
    <button class="responsive-action-button" *ngIf="evaluateIfChallengeableActionExists() && index !== this.game.actionPerformer && (game.players[index].leftInfluenceAlive || game.players[index].rightInfluenceAlive)" (click)="challengeClaim()">
      Challenge Latest Claim
    </button>
    <div class="empty-space-below-player-option" *ngIf="evaluateIfChallengeableActionExists() && (game.players[index].leftInfluenceAlive || game.players[index].rightInfluenceAlive)"></div>
    <button class="responsive-action-button" *ngIf="this.game.phase === 8 && this.index !== this.game.actionPerformer && (game.players[index].leftInfluenceAlive || game.players[index].rightInfluenceAlive)" (click)="blockForeignAid()">
      Claim Duke: Block 2-Coin Taking
    </button>
    <div class="empty-space-below-player-option" *ngIf="this.game.phase === 8"></div>
    <button class="responsive-action-button" *ngIf="(this.game.phase === 2 || this.game.phase === 3) && this.game.actionRecipient === index && (game.players[index].leftInfluenceAlive || game.players[index].rightInfluenceAlive)" (click)="blockStealWithCaptain()">
      Claim Captain: Block Steal
    </button>
    <div class="empty-space-below-player-option" *ngIf="(this.game.phase === 2 || this.game.phase === 3) && this.game.actionRecipient === index && (game.players[index].leftInfluenceAlive || game.players[index].rightInfluenceAlive)"></div>
    <button class="responsive-action-button" *ngIf="(this.game.phase === 2 || this.game.phase === 3) && this.game.actionRecipient === index && (game.players[this.index].leftInfluenceAlive || game.players[this.index].rightInfluenceAlive)" (click)="blockStealWithAmbassador()">
      Claim Ambassador: Block Steal
    </button>
    <div class="empty-space-below-player-option" *ngIf="(this.game.phase === 2 || this.game.phase === 3) && this.game.actionRecipient === index"></div>
    <button class="responsive-action-button" *ngIf="(this.game.phase === 23 || this.game.phase === 26) && this.game.actionRecipient === index" (click)="blockAssassination()">
      Claim Contessa: Block Kill
    </button>
    <div class="empty-space-below-player-option" *ngIf="(this.game.phase === 23 || this.game.phase === 26) && this.game.actionRecipient === index"></div>
  </div>
  <img class="dead-symbol" src="assets/images/skull.jpg" *ngIf="!game.players[index].leftInfluenceAlive && !game.players[index].rightInfluenceAlive"/>
  <button class="display-influence-button" (click)="toggleDisplayingInfluences()">{{ displayingInfluences ? 'Hide Influences' : 'Display Influences'}}</button>
  <div *ngIf="game && game.started" class = "caution-to-only-look-at-you-own-influences-container">Only Look At Your Own</div>
  <div class = "left-influence-container">
    <div class="top-left-part-of-x" *ngIf="!game.players[index].leftInfluenceAlive"></div>
    <div class="top-right-part-of-x" *ngIf="!game.players[index].leftInfluenceAlive"></div>
    <button class="select-influence-to-reveal-button" *ngIf="isChallenged()" (click)="revealInfluenceForChallenge(true)">{{ displayingInfluences ? getInfluenceOfIndex(game.players[this.index].leftInfluence) : ''}}</button>
    <button class="select-influence-to-lose-for-incorrectly-challenging-button" *ngIf="mustLoseInfluenceForIncorrectlyChallenging() && game.players[index].leftInfluenceAlive" (click)="selectInfluenceToLoseForIncorrectlyChallenging(true)">{{ displayingInfluences ? getInfluenceOfIndex(game.players[this.index].leftInfluence) : ''}}</button>
    <button class="select-to-lose-influence-for-coup-or-assassination" *ngIf="(game.phase === 29 || game.phase === 23 || game.phase === 26) && game.actionRecipient === index && game.players[index].leftInfluenceAlive" (click)="forfeitInfluence(true)">{{ displayingInfluences ? getInfluenceOfIndex(game.players[this.index].leftInfluence) : ''}}</button>
    <p class="influence-text" *ngIf="(displayingInfluences === true || !game.players[index].leftInfluenceAlive) && ((this.game.phase !== 20 && this.game.phase !== 30) || this.game.turn !== this.index ) && (!this.game.influenceActionNumber || this.game.influenceActionNumber === -1)">{{ leftInfluence }}</p>
    <p class="ambassador-option-1-text" *ngIf="leftAmbassadorSelection === 0 && (this.game.phase === 20 || this.game.phase === 30) && (displayingInfluences === true || !this.game.players[this.index].leftInfluenceAlive) && game.turn === index">{{ getInfluenceOfIndex(this.game.players[index].leftInfluence) }}</p>
    <p class="ambassador-option-2-text" *ngIf="leftAmbassadorSelection === 1 && (this.game.phase === 20 || this.game.phase === 30) && (displayingInfluences === true || !this.game.players[this.index].leftInfluenceAlive) && game.turn === index">{{ getInfluenceOfIndex(this.game.players[index].rightInfluence) }}</p>
    <p class="ambassador-option-3-text" *ngIf="leftAmbassadorSelection === 2 && (this.game.phase === 20 || this.game.phase === 30) && (displayingInfluences === true || !this.game.players[this.index].leftInfluenceAlive) && game.turn === index">{{ getInfluenceOfIndex(this.game.extraInfluence1) }}</p>
    <p class="ambassador-option-4-text" *ngIf="leftAmbassadorSelection === 3 && (this.game.phase === 20 || this.game.phase === 30) && (displayingInfluences === true || !this.game.players[this.index].leftInfluenceAlive) && game.turn === index">{{ getInfluenceOfIndex(this.game.extraInfluence2) }}</p>
    <p class="departing-influence-text" *ngIf="game.influenceActionNumber === getLeftDepartInfluenceNumber() || game.influenceActionNumber === getLeftArriveInfluenceNumber()">{{ this.game.departingInfluence }}</p>
  </div>
  <div class = "right-influence-container">
    <div class="top-left-part-of-x" *ngIf="!game.players[index].rightInfluenceAlive"></div>
    <div class="top-right-part-of-x" *ngIf="!game.players[index].rightInfluenceAlive"></div>
    <button class="select-influence-to-reveal-button" *ngIf="isChallenged()" (click)="revealInfluenceForChallenge(false)">{{ displayingInfluences ? getInfluenceOfIndex(game.players[this.index].rightInfluence) : ''}}</button>
    <button class="select-influence-to-lose-for-incorrectly-challenging-button" *ngIf="mustLoseInfluenceForIncorrectlyChallenging() && game.players[index].rightInfluenceAlive" (click)="selectInfluenceToLoseForIncorrectlyChallenging(false)">{{ displayingInfluences ? getInfluenceOfIndex(game.players[this.index].rightInfluence) : ''}}</button>
    <button class="select-to-lose-influence-for-coup-or-assassination" *ngIf="(game.phase === 29 || game.phase === 23 || game.phase === 26) && game.actionRecipient === index && game.players[index].rightInfluenceAlive" (click)="forfeitInfluence(false)">{{ displayingInfluences ? getInfluenceOfIndex(game.players[this.index].rightInfluence) : ''}}</button>
    <p class="influence-text" *ngIf="(displayingInfluences === true || !game.players[index].rightInfluenceAlive) && ((this.game.phase !== 20 && this.game.phase !== 30) || this.game.turn !== this.index) && (!this.game.influenceActionNumber || this.game.influenceActionNumber === -1)">{{ rightInfluence }}</p>
    <p class="ambassador-option-1-text" *ngIf="rightAmbassadorSelection === 0 && (this.game.phase === 20 || this.game.phase === 30) && (displayingInfluences === true || !this.game.players[this.index].rightInfluenceAlive) && game.turn === index">{{ getInfluenceOfIndex(this.game.players[index].leftInfluence) }}</p>
    <p class="ambassador-option-2-text" *ngIf="rightAmbassadorSelection === 1 && (this.game.phase === 20 || this.game.phase === 30) && (displayingInfluences === true || !this.game.players[this.index].rightInfluenceAlive) && game.turn === index">{{ getInfluenceOfIndex(this.game.players[index].rightInfluence) }}</p>
    <p class="ambassador-option-3-text" *ngIf="rightAmbassadorSelection === 2 && (this.game.phase === 20 || this.game.phase === 30) && (displayingInfluences === true || !this.game.players[this.index].rightInfluenceAlive) && game.turn === index">{{ getInfluenceOfIndex(this.game.extraInfluence1) }}</p>
    <p class="ambassador-option-4-text" *ngIf="rightAmbassadorSelection === 3 && (this.game.phase === 20 || this.game.phase === 30) && (displayingInfluences === true || !this.game.players[this.index].rightInfluenceAlive) && game.turn === index">{{ getInfluenceOfIndex(this.game.extraInfluence2) }}</p>
    <p class="departing-influence-text" *ngIf="game.influenceActionNumber === getRightDepartInfluenceNumber() || game.influenceActionNumber === getRightArriveInfluenceNumber()">{{ this.game.departingInfluence }}</p>
  </div>
  <div class="left-change-left-influence-arrow" *ngIf="(this.game.phase === 20 || this.game.phase === 30) && this.game.turn === this.index && this.game.players[this.index].leftInfluenceAlive" (click)="switchShuffleSelection(true, true)">
    <img class="left-arrow" src = "assets/images/triangle.jpg"/>
  </div>
  <div class="right-change-left-influence-arrow" *ngIf="(this.game.phase === 20 || this.game.phase === 30) && this.game.turn === this.index && this.game.players[this.index].leftInfluenceAlive" (click)="switchShuffleSelection(true, false)">
    <img class="right-arrow" src = "assets/images/triangle.jpg"/>
  </div>
  <button class="ambassador-done-button" *ngIf="this.index === this.game.turn && (this.game.phase === 20 || this.game.phase === 30)" (click)="finalizeAmbassadorSelection()">Done</button>
  <div class="left-change-right-influence-arrow" *ngIf="(this.game.phase === 20 || this.game.phase === 30) && this.game.turn === this.index && this.game.players[this.index].rightInfluenceAlive" (click)="switchShuffleSelection(false, true)">
    <img class="left-arrow" src = "assets/images/triangle.jpg"/>
  </div>
  <div class="right-change-right-influence-arrow" *ngIf="(this.game.phase === 20 || this.game.phase === 30) && this.game.turn === this.index && this.game.players[this.index].rightInfluenceAlive" (click)="switchShuffleSelection(false, false)">
    <img class="right-arrow" src = "assets/images/triangle.jpg"/>
  </div>
</div>
