<div class="menu">
  <h1 class="settings-text">Settings</h1>
  <h3 class="game-version-text">Game Version</h3>
  <select *ngIf="game && !game.started" class="game-version-selector" #versionSelection (change)="setGameVersion(versionSelection.value)">
    <option [selected]="game && game.gameVersion === 0" [value]=0>0</option>
    <option [selected]="game && game.gameVersion === 1" [value]=1>1</option>
  </select>
  <h3 class="number-of-players-text">Number of Players</h3>
  <select *ngIf="game && !game.started" class="player-number-selector" #playerQuantity (change)="setNumberOfPlayers(playerQuantity.value)" [value]="game && game.players ? game.players.length : 4">
    <option [selected]="game && game.players && game.players.length === +2" [value]=2>2</option>
    <option [selected]="game && game.players && game.players.length === +3" [value]=3>3</option>
    <option [selected]="game && game.players && game.players.length === +4" [value]=4>4</option>
  </select>
  <h3 class="hashtag-mode-text">Hashtag Mode</h3>
  <h3 class="hashtag-mode-state">{{ game && game.hashtagMode ? 'On' : 'Off' }}</h3>
  <button [disabled]="game.gameVersion === 1" class="toggle-hashtag-mode-button" (click)="toggleHashtagMode()">{{ game && game.hashtagMode ? 'Disable' : 'Enable' }}</button>
  <h3 class="must-buy-from-top-row-to-win-text">Must Buy From Top Row To Win</h3>
  <h3 class="must-buy-from-top-row-to-win-state">{{ game && game.mustBuyTopTierSquareToWin ? 'On' : 'Off' }}</h3>
  <button class="toggle-must-buy-from-top-row-to-win-button" (click)="toggleMustBuyFromTopRowToWin()">{{ game && game.mustBuyTopTierSquareToWin ? 'Disable' : 'Enable' }}</button>
  <h3 class="must-have-square-of-each-color-to-win-text">Must Have Square Of Each Color To Win</h3>
  <h3 class="must-have-square-of-each-color-to-win-state">{{ game && game.mustHaveOneSquareOfEachColorToWin ? 'On' : 'Off' }}</h3>
  <button class="toggle-must-have-square-of-each-color-to-win-button" (click)="toggleMustHaveSquareOfEachColorToWin()">{{ game && game.mustHaveOneSquareOfEachColorToWin ? 'Disable' : 'Enable' }}</button>
  <button class="start-game-button" (click)="startGame()">Start Game</button>
</div>
