.player1 {
    position: absolute;
    bottom: 5px;
    left: 273px;
}

.player2 {
    position: absolute;
    top: 35px;
    left: 5px;
}

.player3 {
    position: absolute;
    top: 35px;
    right: 5px;
}