.player1 {
    position: absolute;
    bottom: 5px;
    left: 100px;
}

.player2 {
    position: absolute;
    bottom: 272px;
    left: 2px;
}

.player3 {
    position: absolute;
    top: 35px;
    left: 100px;
}

.player4 {
    position: absolute;
    top: 35px;
    right: 100px;
}

.player5 {
    position: absolute;
    bottom: 272px;
    right: 2px;
}

.player6 {
    position: absolute;
    bottom: 5px;
    right: 100px;
}