<div>
    <avatar class="player1" [name]="game.players[0].name" [updateName]="updateName" [index]="0"></avatar>
    <avatar class="player2" [name]="game.players[1].name" [updateName]="updateName" [index]="1"></avatar>
    <avatar class="player3" [name]="game.players[2].name" [updateName]="updateName" [index]="2"></avatar>
    <avatar class="player4" [name]="game.players[3].name" [updateName]="updateName" [index]="3"></avatar>
    <avatar class="player5" [name]="game.players[4].name" [updateName]="updateName" [index]="4"></avatar>
    <avatar class="player6" [name]="game.players[5].name" [updateName]="updateName" [index]="5"></avatar>
</div>
