<div class = "game">
    <div class = "game-container">
        <div class="center">
            <select class="player-number-selector" #numberOfPlayers (change)="setNumberOfPlayers(numberOfPlayers.value)">
                <option [selected]="game && game.players && game.players.length === +2" [value]=2>2</option>
                <option [selected]="game && game.players && game.players.length === +3" [value]=3>3</option>
                <option [selected]="game && game.players && game.players.length === +4" [value]=4>4</option>
                <option [selected]="game && game.players && game.players.length === +5" [value]=5>5</option>
                <option [selected]="game && game.players && game.players.length === +6" [value]=6>6</option>
            </select>
        </div>
        <avatar [game]="game" [index]="0" *ngIf="game && game.players"
            class="{{ getPlayerClassName(1) }}"></avatar>
        <avatar [game]="game" [index]="1" *ngIf="game && game.players"
            class="{{ getPlayerClassName(2) }}"></avatar>
        <avatar [game]="game" [index]="2" *ngIf="game && game.players && game.players.length > 2"
            class="{{ getPlayerClassName(3) }}"></avatar>
        <avatar [game]="game" [index]="3" *ngIf="game && game.players && game.players.length > 3"
            class="{{ getPlayerClassName(4) }}"></avatar>
        <avatar [game]="game" [index]="4" *ngIf="game && game.players && game.players.length > 4"
            class="{{ getPlayerClassName(5) }}"></avatar>
        <avatar [game]="game" [index]="5" *ngIf="game && game.players && game.players.length > 5"
            class="{{ getPlayerClassName(6) }}"></avatar>
    </div>
</div>