.game {
    padding-top: 38px;
    margin: 0 auto;
    display: flex;
  justify-content: center;
  width: 900px;
  height: 1200px;
}

.game-container {
    top: 38px;
    height: 860px;
    width: 800px;
    border: 2px solid white;
    margin: 0 auto;
    position: absolute;
    top:70px;
    margin: 0 auto;
}

.center {
    height: 250px;
    width: 250px;
    border: 2px solid black;
    position: absolute;
    left: 273px;
    bottom: 302px;
}

.turn-options {
  height: 250px;
  width: 250px;
  border: 2px solid black;
  position: absolute;
  left: 273px;
  bottom: 302px;
}

.target-player-selection-box {
  height: 250px;
  width: 250px;
  border: 2px solid black;
  position: absolute;
  left: 273px;
  bottom: 302px;
}

.game-not-started-text {
    font-weight: bold;
    position: absolute;
    width: 230px;
    left: 10px;
}

.player-number-selector {
    position: absolute;
    top:175px;
    left: 110px;
    z-index: 1;
}

.start-button {
    position: absolute;
    top:210px;
    left:105px;
}

.end-game-button {
    position: absolute;
    bottom: 5px;
    left: 230px;
}

.delete-game-button {
  position: absolute;
  bottom: 5px;
  left: 500px;
}

.back-to-start-screen-button {
  position: absolute;
  bottom: 5px;
  left: 380px;
}

.name {
  height:20px;
  width: 100px;
  border: 2px solid black;
  position: absolute;
  top:5px;
  left: 75px;
  text-align: center;
  background-color: rgb(230, 230, 230);
  font-weight: bold;
}

.left-shape {
  position: absolute;
  height: 20px;
  width: 20px;
  left: 20px;
  top: 5px;
  transform: rotate(-45deg);
}

.right-shape {
  position: absolute;
  height: 20px;
  width: 20px;
  right: 20px;
  top: 5px;
  transform: rotate(45deg);
}

.take-one-coin-option {
  height: 28px;
  width: 240px;
  background-color: white;
  border: 2px solid black;
  position: absolute;
  bottom:180px;
  left: 5px;
}

.take-two-coins-option {
  height: 28px;
  width: 240px;
  background-color: white;
  border: 2px solid black;
  position: absolute;
  bottom:150px;
  left: 5px;
}

.take-three-coins-option {
  height: 28px;
  width: 240px;
  background-color: white;
  border: 2px solid black;
  position: absolute;
  bottom:120px;
  left: 5px;
}

.steal-option {
  height: 28px;
  width: 240px;
  background-color: white;
  border: 2px solid black;
  position: absolute;
  bottom:90px;
  left: 5px;
}

.shuffle-option {
  height: 28px;
  width: 240px;
  background-color: white;
  border: 2px solid black;
  position: absolute;
  bottom:60px;
  left: 5px;
}

.assassinate-option {
  height: 28px;
  width: 240px;
  background-color: white;
  border: 2px solid black;
  position: absolute;
  bottom:30px;
  left: 5px;
}

.coup-option {
  height: 28px;
  width: 240px;
  background-color: white;
  border: 2px solid black;
  position: absolute;
  bottom: 0px;
  left: 5px;
}

.text-option-1 {
  font-weight: bold;
  position: absolute;
  bottom: -3px;
  left: 75px;
  font-family: Georgia
}

.text-option-subcaption-1 {
  font-family: Georgia;
  font-size: 10px;
  position: absolute;
  bottom: -9px;
  left: 50px;
}

.text-option-2 {
  font-weight: bold;
  position: absolute;
  bottom: -3px;
  left: 71px;
  font-family: Georgia
}

.text-option-subcaption-2 {
  font-family: Georgia;
  font-size: 10px;
  position: absolute;
  bottom: -9px;
  left: 73px;
}

.text-option-3 {
  font-weight: bold;
  position: absolute;
  bottom: -3px;
  left: -16px;
  font-family: Georgia;
  width: 260px;
}

.text-option-subcaption-3 {
  font-family: Georgia;
  font-size: 10px;
  position: absolute;
  bottom: -9px;
  left: 50px;
}

.text-option-4 {
  font-weight: bold;
  position: absolute;
  bottom: -3px;
  left: -15px;
  font-family: Georgia;
  width: 260px;
}

.text-option-subcaption-4 {
  font-family: Georgia;
  font-size: 10px;
  position: absolute;
  bottom: -9px;
  left: 30px;
}

.text-option-5 {
  font-weight: bold;
  position: absolute;
  bottom: -3px;
  left: -15px;
  font-family: Georgia;
  width: 260px;
}

.text-option-subcaption-5 {
  font-family: Georgia;
  font-size: 10px;
  position: absolute;
  bottom: -9px;
  left: 25px;
}

.text-option-6 {
  width: 260px;
  font-weight: bold;
  position: absolute;
  bottom: -3px;
  left: -13px;
  font-family: Georgia;
}

.text-option-subcaption-6 {
  font-family: Georgia;
  font-size: 10px;
  position: absolute;
  bottom: -9px;
  left: 36px;
}

.text-option-7 {
  font-weight: bold;
  position: absolute;
  bottom: -3px;
  left: 32px;
  font-family: Georgia;
}

.text-option-subcaption-7 {
  font-family: Georgia;
  font-size: 10px;
  position: absolute;
  bottom: -9px;
  left: -12px;
  width: 260px;
}

.back-button {
  position: absolute;
  top: 228px;
  left: 101px;
}

.select-player-prompt-container {
  height: 20px;
  width: 240px;
  position: absolute;
  background-color: white;
  border: 2px solid black;
  top: 32px;
  left: 3px;
}

.select-player-prompt {
  text-align: center;
  font-weight: bold;
  position: relative;
  bottom: 13px;
}

.container-of-all-other-players {
  position: relative;
  top: 59px;
  left: 3px;
}

.player-for-selection-container {
  height: 28px;
  width: 240px;
  background-color: white;
  border: 2px solid black;
}

.space-between-player-selection-options-1 {
  width: 1px;
  height: 60px;
}

.space-between-player-selection-options-2 {
  width: 1px;
  height: 30px;
}

.space-between-player-selection-options-3 {
  width: 1px;
  height: 36px;
}

.space-between-player-selection-options-4 {
  width: 1px;
  height: 13px;
}

.space-between-player-selection-options-5 {
  width: 1px;
  height: 2px;
}

.left-player-shape {
  height: 20px;
  width: 20px;
  position: absolute;
  left: 7px;
  top: 5px;
  transform: rotate(-45deg);
}

.right-player-shape {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 15px;
  top: 5px;
  transform: rotate(45deg);
}

.player-name-for-selection {
  z-index: 2;
  text-align: center;
  position: relative;
  bottom: 18px;
}

.challenge-claim-button {

}

.information-square {
  height: 250px;
  width: 250px;
  border: 2px solid white;
  position: absolute;
  left: 273px;
  bottom: 302px;
  display: flex;
  vertical-align: middle;
}

.response-to-challenge-square {
  height: 250px;
  width: 250px;
  border: 2px solid black;
  position: absolute;
  left: 273px;
  bottom: 302px;
}

.must-lose-influence-for-challenging-square {
  height: 250px;
  width: 250px;
  border: 2px solid black;
  position: absolute;
  left: 273px;
  bottom: 302px;
}

.challenge-description-text {
  font-weight: bold;
  text-align: center;
}

.information-box-text {
  font-weight: bold;
  margin: auto;
  vertical-align: middle;
}

.challengeable-claim-description {
  font-weight: bold;
  text-align: center;
  position: relative;
  top: -8px;
}
