.two-players-player-one {
    position: absolute;
    bottom: 35px;
    left: 273px;
}

.three-players-player-one {
    position: absolute;
    bottom: 35px;
    left: 273px;
}

.four-players-player-one {
    position: absolute;
    bottom: 35px;
    left: 5px;
}

.five-players-player-one {
    position: absolute;
    bottom: 35px;
    left: 273px;
}

.six-players-player-one {
    position: absolute;
    bottom: 35px;
    left: 100px;
}

.two-players-player-two {
    position: absolute;
    top: 35px;
    left: 273px;
}

.three-players-player-two {
    position: absolute;
    top: 35px;
    left: 5px;
}

.four-players-player-two {
    position: absolute;
    top: 35px;
    left: 5px;
}

.five-players-player-two {
    position: absolute;
    bottom: 255px;
    left: 2px;
}

.six-players-player-two {
    position: absolute;
    bottom: 302px;
    left: 2px;
}

.three-players-player-three {
    position: absolute;
    top: 35px;
    right: 5px;
}

.four-players-player-three {
    position: absolute;
    top: 35px;
    right: 5px;
}

.five-players-player-three {
    position: absolute;
    top: 35px;
    left: 100px;
}

.six-players-player-three {
    position: absolute;
    top: 35px;
    left: 100px;
}

.four-players-player-four {
    position: absolute;
    bottom: 35px;
    right: 5px;
}

.five-players-player-four {
    position: absolute;
    top: 35px;
    right: 100px;
}

.six-players-player-four {
    position: absolute;
    top: 35px;
    right: 100px;
}

.five-players-player-five {
    position: absolute;
    bottom: 255px;
    right: 2px;
}

.six-players-player-five {
    position: absolute;
    bottom: 302px;
    right: 2px;
}

.six-players-player-six {
    position: absolute;
    bottom: 35px;
    right: 100px;
}