.avatar {
  height: 196px;
  width: 496px;
  position: absolute;
  border: 2px solid black;
  top: 0px;
  left: 0px;
}

.hashtag-symbol {
  position: absolute;
  top: -25px;
  left: 2px;
  font-size: 30px;
}

.hashtag-quantity {
  position: absolute;
  top: -25px;
  left: 35px;
  font-size: 30px;
}

.name {
  height:20px;
  width: 100px;
  border: 2px solid black;
  position: absolute;
  top:5px;
  left: 195px;
  text-align: center;
  background-color: rgb(230, 230, 230);
  font-weight: bold;
}

.name-change {
  height:20px;
  width: 100px;
  border: 2px solid black;
  position: absolute;
  top:5px;
  left: 195px;
}

.set-name {
  height: 24px;
  border: 2px solid black;
  position: absolute;
  top:5px;
  left:298px;
  width:15px;
  text-align: center;
  margin: auto;
}

.player-points-single-digit {
  position: absolute;
  top: -30px;
  left: 471px;
  font-size: 34px;
}

.player-points-double-digit {
  position: absolute;
  top: -30px;
  left: 451px;
  font-size: 34px;
}

.stick-1 {
  position: absolute;
  background-color: black;
  height: 125px;
  width: 2px;
  top: 35px;
  left: 95px;
}

.stick-1 {
  position: absolute;
  background-color: black;
  height: 125px;
  width: 2px;
  top: 35px;
  left: 95px;
}

.stick-2 {
  position: absolute;
  background-color: black;
  height: 125px;
  width: 1px;
  top: 35px;
  left: 145px;
}

.stick-3 {
  position: absolute;
  background-color: black;
  height: 125px;
  width: 1px;
  top: 35px;
  left: 195px;
}

.stick-4 {
  position: absolute;
  background-color: black;
  height: 125px;
  width: 1px;
  top: 35px;
  left: 245px;
}

.stick-5 {
  position: absolute;
  background-color: black;
  height: 125px;
  width: 1px;
  top: 35px;
  left: 295px;
}

.stick-6 {
  position: absolute;
  background-color: black;
  height: 125px;
  width: 1px;
  top: 35px;
  left: 345px;
}

.stick-7{
  position: absolute;
  background-color: black;
  height: 66px;
  width: 1px;
  top: 35px;
  left: 395px;
}

.stick-8 {
  position: absolute;
  background-color: black;
  height: 66px;
  width: 4px;
  top: 35px;
  left: 445px;
}

.small-divider-1 {
  background-color: black;
  width: 496px;
  height: 2px;
  position: absolute;
  top: 70px;
}

.small-divider-2 {
  background-color: black;
  width: 346px;
  height: 2px;
  position: absolute;
  top: 100px;
}

.big-divider {
  background-color: black;
  width: 346px;
  height: 4px;
  position: absolute;
  top: 130px;
}

.small-divider-3 {
  background-color: black;
  width: 346px;
  height: 2px;
  position: absolute;
  top: 160px;
}

.purchasing-text {
  position: absolute;
  left: 2px;
  top: 15px;
}

.power-text {
  position: absolute;
  left: 2px;
  top: 32px;
}

.one-time-text {
  position: absolute;
  left: 2px;
  top: 60px;
}

.permanent-text {
  position: absolute;
  left: 2px;
  top: 90px;
}

.total-text {
  position: absolute;
  left: 2px;
  top: 120px;
}

.color-1 {
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid black;
  top: 38px;
  left: 106px;
}

.color-2 {
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid black;
  top: 38px;
  left: 156px;
}

.color-3 {
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid black;
  top: 38px;
  left: 206px;
}

.color-4 {
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid black;
  top: 38px;
  left: 256px;
}

.color-5 {
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid black;
  top: 38px;
  left: 306px;
}

.color-6 {
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid black;
  top: 38px;
  left: 356px;
}

.color-7 {
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 2px solid black;
  top: 38px;
  left: 406px;
}

.purchasing-power-one-time-text-1 {
  position: absolute;
  top: 47px;
  left: 112px;
}

.purchasing-power-one-time-text-2 {
  position: absolute;
  top: 47px;
  left: 162px;
}

.purchasing-power-one-time-text-3 {
  position: absolute;
  top: 47px;
  left: 212px;
}

.purchasing-power-one-time-text-4 {
  position: absolute;
  top: 47px;
  left: 262px;
}

.purchasing-power-one-time-text-5 {
  position: absolute;
  top: 47px;
  left: 312px;
}

.purchasing-power-one-time-text-6 {
  position: absolute;
  top: 47px;
  left: 362px;
}

.purchasing-power-one-time-text-7 {
  position: absolute;
  top: 47px;
  left: 412px;
}

.purchasing-power-one-time-text-8-single-digit {
  position: absolute;
  top: 47px;
  left: 462px;
}

.purchasing-power-one-time-text-8-double-digit {
  position: absolute;
  top: 47px;
  left: 455px;
}

.purchasing-power-permanent-text-1-single-digit {
  position: absolute;
  top: 76px;
  left: 112px;
}

.purchasing-power-permanent-text-2-single-digit {
  position: absolute;
  top: 76px;
  left: 162px;
}

.purchasing-power-permanent-text-3-single-digit {
  position: absolute;
  top: 76px;
  left: 212px;
}

.purchasing-power-permanent-text-4-single-digit {
  position: absolute;
  top: 76px;
  left: 262px;
}

.purchasing-power-permanent-text-5-single-digit {
  position: absolute;
  top: 76px;
  left: 312px;
}

.purchasing-power-permanent-text-1-double-digit {
  position: absolute;
  top: 76px;
  left: 103px;
}

.purchasing-power-permanent-text-2-double-digit {
  position: absolute;
  top: 76px;
  left: 153px;
}

.purchasing-power-permanent-text-3-double-digit {
  position: absolute;
  top: 76px;
  left: 203px;
}

.purchasing-power-permanent-text-4-double-digit {
  position: absolute;
  top: 76px;
  left: 253px;
}

.purchasing-power-permanent-text-5-double-digit {
  position: absolute;
  top: 76px;
  left: 303px;
}

.purchasing-power-total-text-1-single-digit {
  position: absolute;
  top: 108px;
  left: 112px;
}

.purchasing-power-total-text-2-single-digit {
  position: absolute;
  top: 108px;
  left: 162px;
}

.purchasing-power-total-text-3-single-digit {
  position: absolute;
  top: 108px;
  left: 212px;
}

.purchasing-power-total-text-4-single-digit {
  position: absolute;
  top: 108px;
  left: 262px;
}

.purchasing-power-total-text-5-single-digit {
  position: absolute;
  top: 108px;
  left: 312px;
}

.purchasing-power-total-text-1-double-digit {
  position: absolute;
  top: 108px;
  left: 103px;
}

.purchasing-power-total-text-2-double-digit {
  position: absolute;
  top: 108px;
  left: 153px;
}

.purchasing-power-total-text-3-double-digit {
  position: absolute;
  top: 108px;
  left: 203px;
}

.purchasing-power-total-text-4-double-digit {
  position: absolute;
  top: 108px;
  left: 253px;
}

.purchasing-power-total-text-5-double-digit {
  position: absolute;
  top: 108px;
  left: 303px;
}

.view-items-obtained-button {
  height: 25px;
  width: 200px;
  position: absolute;
  bottom: 4px;
  left: 20px;
}

.view-items-reserved-button {
  height: 25px;
  width: 200px;
  position: absolute;
  bottom: 4px;
  right: 20px;
}

.items-obtained-container {
  height: 300px;
  width: 650px;
  border: 4px solid black;
  background-color: white;
  position: absolute;
  top: 0px;
  left: 0px;
}

.items-reserved-container {
  height: 300px;
  width: 650px;
  border: 4px solid black;
  background-color: white;
  position: absolute;
  top: 0px;
  left: 0px;
}

.close-display {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 30px;
}

.page-description {
  position: absolute;
  top: 240px;
  left: 260px;
}

.decrease-page-button-enabled {
  position: absolute;
  border: 1px solid black;
  height: 120px;
  width: 30px;
  z-index: 3;
  background-color: gray;
  top: 35px;
  right: 0px;
}

.increase-page-button-enabled {
  position: absolute;
  border: 1px solid black;
  height: 120px;
  width: 30px;
  background-color: gray;
  top: 159px;
  right: 0px;
}

.decrease-page-button-disabled {
  position: absolute;
  border: 1px solid black;
  height: 120px;
  width: 30px;
  background-color: rgb(50, 50, 50);
  top: 35px;
  right: 0px;
}

.increase-page-button-disabled {
  position: absolute;
  border: 1px solid black;
  height: 120px;
  width: 30px;
  background-color: rgb(50, 50, 50);
  top: 159px;
  right: 0px;
}

.decrease-page-arrow {
  position: absolute;
  height: 120px;
  width: 30px;
  transform: rotate(0deg);
  top: 0px;
  left: 0px;
}

.increase-page-arrow {
  position: absolute;
  height: 120px;
  width: 30px;
  transform: rotate(180deg);
  top: 0px;
  left: 0px;
}

.card-0 {
  position: absolute;
  top: 40px;
  left: 5px;
  height: 224px;
  width: 194px;
}

.card-1 {
  position: absolute;
  top: 40px;
  left: 210px;
  height: 224px;
  width: 194px;
}

.card-2 {
  position: absolute;
  top: 40px;
  left: 415px;
  height: 224px;
  width: 194px;
}

.bonus-won-0 {
  position: absolute;
  top: 78px;
  left: 5px;
  height: 150px;
  width: 194px;
}

.bonus-won-1 {
  position: absolute;
  top: 78px;
  left: 210px;
  height: 150px;
  width: 194px;
}

.bonus-won-2 {
  position: absolute;
  top: 78px;
  left: 415px;
  height: 150px;
  width: 194px;
}
