.avatar {
  height: 196px;
  width: 496px;
  position: absolute;
  border: 2px solid black;
  top: 0px;
  left: 0px;
}

.stick-1 {
  position: absolute;
  background-color: black;
  height: 125px;
  width: 2px;
  top: 35px;
  left: 95px;
}

.stick-1 {
  position: absolute;
  background-color: black;
  height: 125px;
  width: 2px;
  top: 35px;
  left: 95px;
}

.stick-2 {
  position: absolute;
  background-color: black;
  height: 125px;
  width: 2px;
  top: 35px;
  left: 195px;
}

.stick-3 {
  position: absolute;
  background-color: black;
  height: 125px;
  width: 1px;
  top: 35px;
  left: 294px;
}

.stick-4 {
  position: absolute;
  background-color: black;
  height: 125px;
  width: 1px;
  top: 35px;
  left: 393px;
}

.small-divider-1 {
  background-color: black;
  width: 496px;
  height: 2px;
  position: absolute;
  top: 35px;
}

.small-divider-2 {
  background-color: black;
  width: 496px;
  height: 2px;
  position: absolute;
  top: 80px;
}

.big-divider {
  background-color: black;
  width: 496px;
  height: 4px;
  position: absolute;
  top: 125px;
}

.small-divider-3 {
  background-color: black;
  width: 496px;
  height: 2px;
  position: absolute;
  top: 160px;
}

.square-of-square-plus-circle-1 {
  height: 20px;
  width: 20px;
  position: absolute;
  border: 2px solid black;
  top: 132px;
  left: 2px;
}

.plus-sign-1 {
  position: absolute;
  top: 102px;
  left: 23px;
}

.circle-of-square-plus-circle-1 {
  height: 20px;
  width: 20px;
  position: absolute;
  border: 2px solid black;
  top: 132px;
  left: 43px;
  border-radius: 50%;
}

.combined-purchase-power-1-single-digit {
  position: absolute;
  top: 104px;
  left: 72px;
}

.combined-purchase-power-1-double-digit {
  position: absolute;
  top: 104px;
  left: 65px;
}

.square-of-square-plus-circle-2 {
  height: 20px;
  width: 20px;
  position: absolute;
  border: 2px solid black;
  top: 132px;
  left: 101px;
}

.plus-sign-2 {
  position: absolute;
  top: 102px;
  left: 122px;
}

.circle-of-square-plus-circle-2 {
  height: 20px;
  width: 20px;
  position: absolute;
  border: 2px solid black;
  top: 132px;
  left: 142px;
  border-radius: 50%;
}

.combined-purchase-power-2-single-digit {
  position: absolute;
  top: 104px;
  left: 171px;
}

.combined-purchase-power-2-double-digit {
  position: absolute;
  top: 104px;
  left: 164px;
}

.square-of-square-plus-circle-3 {
  height: 20px;
  width: 20px;
  position: absolute;
  border: 2px solid black;
  top: 132px;
  left: 200px;
}

.plus-sign-3 {
  position: absolute;
  top: 102px;
  left: 221px;
}

.circle-of-square-plus-circle-3 {
  height: 20px;
  width: 20px;
  position: absolute;
  border: 2px solid black;
  top: 132px;
  left: 241px;
  border-radius: 50%;
}

.combined-purchase-power-3-single-digit {
  position: absolute;
  top: 104px;
  left: 270px;
}

.combined-purchase-power-3-double-digit {
  position: absolute;
  top: 104px;
  left: 263px;
}

.square-of-square-plus-circle-4 {
  height: 20px;
  width: 20px;
  position: absolute;
  border: 2px solid black;
  top: 132px;
  left: 299px;
}

.plus-sign-4 {
  position: absolute;
  top: 102px;
  left: 320px;
}

.circle-of-square-plus-circle-4 {
  height: 20px;
  width: 20px;
  position: absolute;
  border: 2px solid black;
  top: 132px;
  left: 340px;
  border-radius: 50%;
}

.combined-purchase-power-4-single-digit {
  position: absolute;
  top: 104px;
  left: 369px;
}

.combined-purchase-power-4-double-digit {
  position: absolute;
  top: 104px;
  left: 362px;
}

.square-of-square-plus-circle-5 {
  height: 20px;
  width: 20px;
  position: absolute;
  border: 2px solid black;
  top: 132px;
  left: 398px;
}

.plus-sign-5 {
  position: absolute;
  top: 102px;
  left: 419px;
}

.circle-of-square-plus-circle-5 {
  height: 20px;
  width: 20px;
  position: absolute;
  border: 2px solid black;
  top: 132px;
  left: 439px;
  border-radius: 50%;
}

.combined-purchase-power-5-single-digit {
  position: absolute;
  top: 104px;
  left: 468px;
}

.combined-purchase-power-5-double-digit {
  position: absolute;
  top: 104px;
  left: 461px;
}
