<div class="avatar">
  <h1 class="hashtag-symbol">#-</h1>
  <h1 class="hashtag-quantity">0</h1>
  <div class ="name" *ngIf="!changingName">
    {{ game.players[index].name }}
  </div>
  <input type="text" class="name-change" *ngIf="changingName" #newName (keyup.enter)="changeName(newName.value)" maxlength="11" (change)="setTypedName(newName.value)" />
  <button class="set-name" (click)="toggleChangingName(typedName)" *ngIf="game && !game.started"></button>
  <h1 class="player-points-single-digit" *ngIf="getPlayerPoints() < 10">{{ getPlayerPoints() }}</h1>
  <h1 class="player-points-double-digit" *ngIf="getPlayerPoints() > 9">{{ getPlayerPoints() }}</h1>
  <h3 class="purchasing-text">Purchasing</h3>
  <h3 class="power-text">Power</h3>
  <div class="small-divider-1"></div>
  <h3 class="one-time-text">1-time</h3>
  <div class="stick-1"></div>
  <div class="stick-2"></div>
  <div class="stick-3"></div>
  <div class="stick-4"></div>
  <div class="stick-5"></div>
  <div class="stick-6"></div>
  <div class="stick-7"></div>
  <div class="stick-8"></div>
  <div class="color-1"  [ngStyle]="{'background-color': getColorCodeByIndex(0)}"></div>
  <div class="color-2"  [ngStyle]="{'background-color': getColorCodeByIndex(1)}"></div>
  <div class="color-3"  [ngStyle]="{'background-color': getColorCodeByIndex(2)}"></div>
  <div class="color-4"  [ngStyle]="{'background-color': getColorCodeByIndex(3)}"></div>
  <div class="color-5"  [ngStyle]="{'background-color': getColorCodeByIndex(4)}"></div>
  <div class="color-6"  [ngStyle]="{'background-color': getColorCodeByIndex(5)}"></div>
  <div class="color-7"  [ngStyle]="{'background-color': getColorCodeByIndex(6)}"></div>
  <h1 class="purchasing-power-one-time-text-1">0</h1>
  <h1 class="purchasing-power-one-time-text-2">0</h1>
  <h1 class="purchasing-power-one-time-text-3">0</h1>
  <h1 class="purchasing-power-one-time-text-4">0</h1>
  <h1 class="purchasing-power-one-time-text-5">0</h1>
  <h1 class="purchasing-power-one-time-text-6">0</h1>
  <h1 class="purchasing-power-one-time-text-7">0</h1>
  <h1 class="purchasing-power-one-time-text-8-single-digit" *ngIf="getTotalTokens() < 10">0</h1>
  <h1 class="purchasing-power-one-time-text-8-double-digit" *ngIf="getTotalTokens() > 9">10</h1>
  <div class="small-divider-2"></div>
  <h1 class="purchasing-power-permanent-text-1-single-digit" *ngIf="getTotalPermanentPurchasingPower(0) < 10">0</h1>
  <h1 class="purchasing-power-permanent-text-1-double-digit" *ngIf="getTotalPermanentPurchasingPower(0) > 9">10</h1>
  <h1 class="purchasing-power-permanent-text-2-single-digit" *ngIf="getTotalPermanentPurchasingPower(1) < 10">0</h1>
  <h1 class="purchasing-power-permanent-text-2-double-digit" *ngIf="getTotalPermanentPurchasingPower(1) > 9">10</h1>
  <h1 class="purchasing-power-permanent-text-3-single-digit" *ngIf="getTotalPermanentPurchasingPower(2) < 10">0</h1>
  <h1 class="purchasing-power-permanent-text-3-double-digit" *ngIf="getTotalPermanentPurchasingPower(2) > 9">10</h1>
  <h1 class="purchasing-power-permanent-text-4-single-digit" *ngIf="getTotalPermanentPurchasingPower(3) < 10">0</h1>
  <h1 class="purchasing-power-permanent-text-4-double-digit" *ngIf="getTotalPermanentPurchasingPower(3) > 9">10</h1>
  <h1 class="purchasing-power-permanent-text-5-single-digit" *ngIf="getTotalPermanentPurchasingPower(4) < 10">0</h1>
  <h1 class="purchasing-power-permanent-text-5-double-digit" *ngIf="getTotalPermanentPurchasingPower(4) > 9">10</h1>
  <h3 class="permanent-text">Permanent</h3>
  <div class="big-divider"></div>
  <h1 class="purchasing-power-total-text-1-single-digit" *ngIf="getTotalPermanentPurchasingPowerPlusOneTimePurchasingPower(0) < 10">0</h1>
  <h1 class="purchasing-power-total-text-1-double-digit" *ngIf="getTotalPermanentPurchasingPowerPlusOneTimePurchasingPower(0) > 9">10</h1>
  <h1 class="purchasing-power-total-text-2-single-digit" *ngIf="getTotalPermanentPurchasingPowerPlusOneTimePurchasingPower(1) < 10">0</h1>
  <h1 class="purchasing-power-total-text-2-double-digit" *ngIf="getTotalPermanentPurchasingPowerPlusOneTimePurchasingPower(1) > 9">10</h1>
  <h1 class="purchasing-power-total-text-3-single-digit" *ngIf="getTotalPermanentPurchasingPowerPlusOneTimePurchasingPower(2) < 10">0</h1>
  <h1 class="purchasing-power-total-text-3-double-digit" *ngIf="getTotalPermanentPurchasingPowerPlusOneTimePurchasingPower(2) > 9">10</h1>
  <h1 class="purchasing-power-total-text-4-single-digit" *ngIf="getTotalPermanentPurchasingPowerPlusOneTimePurchasingPower(3) < 10">0</h1>
  <h1 class="purchasing-power-total-text-4-double-digit" *ngIf="getTotalPermanentPurchasingPowerPlusOneTimePurchasingPower(3) > 9">10</h1>
  <h1 class="purchasing-power-total-text-5-single-digit" *ngIf="getTotalPermanentPurchasingPowerPlusOneTimePurchasingPower(4) < 10">0</h1>
  <h1 class="purchasing-power-total-text-5-double-digit" *ngIf="getTotalPermanentPurchasingPowerPlusOneTimePurchasingPower(4) > 9">10</h1>
  <h3 class="total-text">Total</h3>
  <div class="small-divider-3"></div>
  <button class = "view-items-obtained-button" (click)="setItemBeingDisplayed(0)">View Items Obtained</button>
  <button class = "view-items-reserved-button" (click)="setItemBeingDisplayed(1)">View Items Reserved</button>
  <div class = "items-obtained-container" *ngIf="itemBeingDisplayed === 0" [ngStyle]="{'z-index': index + 1}">
    <button class="close-display" (click)="setItemBeingDisplayed(-1)">X</button>
    <app-squarkles-card [game]="game" [card]="getItemsObtainedArray()[getIndexOfItemToLookAt(0)].card" class="card-0" [buyShouldAppear]="false" [reserveShouldAppear]="false" *ngIf="evaluateIfCardShouldExist(0)"></app-squarkles-card>
    <app-squarkles-bonus class="bonus-won-0" [game]="game" [victoryTile]="getItemsObtainedArray()[getIndexOfItemToLookAt(0)].bonus" *ngIf="evaluateIfBonusShouldExist(0)"></app-squarkles-bonus>
    <app-squarkles-card [game]="game" [card]="getItemsObtainedArray()[getIndexOfItemToLookAt(1)].card" class="card-1" [buyShouldAppear]="false" [reserveShouldAppear]="false" *ngIf="evaluateIfCardShouldExist(1)"></app-squarkles-card>
    <app-squarkles-bonus class="bonus-won-1" [game]="game" [victoryTile]="getItemsObtainedArray()[getIndexOfItemToLookAt(1)].bonus" *ngIf="evaluateIfBonusShouldExist(1)"></app-squarkles-bonus>
    <app-squarkles-card [game]="game" [card]="getItemsObtainedArray()[getIndexOfItemToLookAt(2)].card" class="card-2" [buyShouldAppear]="false" [reserveShouldAppear]="false" *ngIf="evaluateIfCardShouldExist(2)"></app-squarkles-card>
    <app-squarkles-bonus class="bonus-won-2" [game]="game" [victoryTile]="getItemsObtainedArray()[getIndexOfItemToLookAt(2)].bonus" *ngIf="evaluateIfBonusShouldExist(2)"></app-squarkles-bonus>
    <div class="decrease-page-button-enabled" (click)="changePageNumber(true)" *ngIf="pageNumber > 1">
      <img class="decrease-page-arrow" src = "assets/images/triangle.jpg"/>
    </div>
    <div class="decrease-page-button-disabled" *ngIf="pageNumber <= 1">
      <img class="decrease-page-arrow" src = "assets/images/triangle.jpg"/>
    </div>
    <div class="increase-page-button-enabled" (click)="changePageNumber()" *ngIf="pageNumber < getTotalPages()">
      <img class="increase-page-arrow" src = "assets/images/triangle.jpg"/>
    </div>
    <div class="increase-page-button-disabled" *ngIf="pageNumber >= getTotalPages()">
      <img class="increase-page-arrow" src = "assets/images/triangle.jpg"/>
    </div>
    <h1 class="page-description">{{ 'Page ' + pageNumber + ' of ' + getTotalPages() }}</h1>
  </div>
  <div class = "items-reserved-container" *ngIf="itemBeingDisplayed === 1" [ngStyle]="{'z-index': index + 1}">
    <button class="close-display" (click)="setItemBeingDisplayed(-1)">X</button>
    <div class="secret-card-0" *ngIf="evaluateIfDisplayButtonShouldAppear(index)">
      <h1 class="secret-text">Secret</h1>
      <h3 class="only-look-if-it-is-yours-text">Only Look If It's Yours</h3>
      <button class = "display-button" (click)="startDisplayingAtIndex(0)">Display</button>
    </div>
    <div class="secret-being-displayed-0" *ngIf="evaluateIfHideButtonShouldAppear(0)">
      <button class = "hide-button" (click)="stopDisplayingAtIndex(0)">Hide</button>
    </div>
    <app-squarkles-card class="card-0" [game]="game" *ngIf="evaluateIfReservedCardShouldAppear(0)" [card]="getReservedCards()[0]" [buyShouldAppear]="true" [reserveShouldAppear]="false"></app-squarkles-card>
    <div class="secret-card-1" *ngIf="evaluateIfDisplayButtonShouldAppear(1)">
      <h1 class="secret-text">Secret</h1>
      <h3 class="only-look-if-it-is-yours-text">Only Look If It's Yours</h3>
      <button class = "display-button" (click)="startDisplayingAtIndex(1)">Display</button>
    </div>
    <div class="secret-being-displayed-1" *ngIf="evaluateIfHideButtonShouldAppear(1)">
      <button class = "Hide-button" (click)="stopDisplayingAtIndex(1)">Hide</button>
    </div>
    <app-squarkles-card class="card-1" [game]="game" *ngIf="evaluateIfReservedCardShouldAppear(1)" [card]="getReservedCards()[1]" [buyShouldAppear]="true" [reserveShouldAppear]="false"></app-squarkles-card>
    <div class="secret-card-2" *ngIf="evaluateIfDisplayButtonShouldAppear(2)">
      <h1 class="secret-text">Secret</h1>
      <h3 class="only-look-if-it-is-yours-text">Only Look If It's Yours</h3>
      <button class = "display-button" (click)="startDisplayingAtIndex(2)">Display</button>
    </div>
    <div class="secret-being-displayed-2" *ngIf="evaluateIfHideButtonShouldAppear(2)">
      <button class = "Hide-button" (click)="stopDisplayingAtIndex(2)">Hide</button>
    </div>
    <app-squarkles-card class="card-2" [game]="game" *ngIf="evaluateIfReservedCardShouldAppear(2)" [card]="getReservedCards()[2]" [buyShouldAppear]="true" [reserveShouldAppear]="false"></app-squarkles-card>
  </div>
</div>
