.identifier {
  padding-top: 38px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 1500px;
  height: 20000px;
}

.identifier-carrier {
  height: 500px;
  width: 750px;
  position: relative;
}

h4 {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  top: 30px;
  left: 45px;
}

h5 {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  top: 100px;
  left: 165px;
}

input {
  position: absolute;
  top: 130px;
  left: 260px;
  width: 156px;
}

button {
  position: absolute;
  top: 130px;
  left: 424px;
  width: 48px;
}


.input-and-button-carrier {
  height: 500px;
  width: 700px;
  margin: 0 auto;
  position: relative;
}
