.identifier {
  padding-top: 38px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 750px;
  height: 1200px;
}

.identifier-carrier {
  height: 500px;
  width: 750px;
  position: relative;
}

.title {
  position: absolute;
  left: 280px;
  top: -40px;
}

.influence-game-title {
  position: absolute;
  left: 260px;
  top: 100px;
}

.squarekles-game-title {
  position: absolute;
  left: 260px;
  top: 150px;
}

h4 {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  top: 30px;
  left: 45px;
}

h5 {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  top: 100px;
  left: 165px;
}

.influence-game-input {
  position: absolute;
  top: 135px;
  left: 260px;
  width: 156px;
}

.squarekles-game-input {
  position: absolute;
  top: 185px;
  left: 260px;
  width: 156px;
}

.influence-game-button {
  position: absolute;
  top: 135px;
  left: 424px;
  width: 48px;
}

.squarekles-game-button {
  position: absolute;
  top: 185px;
  left: 424px;
  width: 48px;
}

.input-and-button-carrier {
  height: 500px;
  width: 700px;
  margin: 0 auto;
  position: relative;
}
