<div class = "identifier">
  <div class = "identifier-carrier">
    <h1 class = "title">TUFFBLUFF</h1>
    <h4>Tuff is for lovers of coup to play a game as a web application.  Enter an identifier to get started.</h4>
    <h5>All friends that wish to play together must navigate to the same identifier for the same game.</h5>
    <h3 class = "influence-game-title">Influence</h3>
    <input class = "influence-game-input" type="text" #influenceIdentifier/>
    <button class = "influence-game-button" (click)="redirectToInfluence(influenceIdentifier)">Enter</button>
    <h3 class = "squarekles-game-title">Squarekles</h3>
    <input class = "squarekles-game-input" type="text" #squareklesIdentifier/>
    <button class = "squarekles-game-button" (click)="redirectToSquarekles(squareklesIdentifier)">Enter</button>
  </div>
</div>
