.identifier {
  padding-top: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 2000px;
  width: 1500px;
}

h4 {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  top: 100px;
  left: 500px;
}

h5 {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  top: 150px;
  left: 630px;
}

input {
  margin: 0 auto;
  position: absolute;
  top: -650px;
  left: 210px;
  width: 156px;
}

button {
  position: absolute;
  top: -650px;
  left: 374px;
  width: 48px;
}


.input-and-button-carrier {
  height: 500px;
  width: 700px;
  margin: 0 auto;
  position: relative;
}
