<div class = "game">
  <div class = "game-container">
    <h1 class = "title">TUFFBLUFF</h1>
    <p class="url-description-text">Give this URL to all friends that wish to join or watch: https://tuffbluff.com/squarekles/{{ identifier }}</p>
    <div class = "player-avatar-container">
      <app-squarkles-avatar class = "player-1-avatar" *ngIf="getWhetherPlayerAvatarShouldExist(0)" [ngStyle]="{'top': getPositionOfPlayerAtIndex(0)}" [game]="game" [index]="0"></app-squarkles-avatar>
      <app-squarkles-avatar class = "player-2-avatar" *ngIf="getWhetherPlayerAvatarShouldExist(1)" [ngStyle]="{'top': getPositionOfPlayerAtIndex(1)}" [game]="game" [index]="1"></app-squarkles-avatar>
      <app-squarkles-avatar class = "player-3-avatar" *ngIf="getWhetherPlayerAvatarShouldExist(2)" [ngStyle]="{'top': getPositionOfPlayerAtIndex(2)}" [game]="game" [index]="2"></app-squarkles-avatar>
      <app-squarkles-avatar class = "player-3-avatar" *ngIf="getWhetherPlayerAvatarShouldExist(3)" [ngStyle]="{'top': getPositionOfPlayerAtIndex(3)}" [game]="game" [index]="3"></app-squarkles-avatar>
    </div>
    <div class="coin-exchange-carrier-carrier">
      <app-coin-exchange-carrier class="coin-exchange-carrier-1" [game]="game" [elementIndex]="0"></app-coin-exchange-carrier>
      <app-coin-exchange-carrier class="coin-exchange-carrier-2" [game]="game" [elementIndex]="1"></app-coin-exchange-carrier>
      <app-coin-exchange-carrier class="coin-exchange-carrier-3" [game]="game" [elementIndex]="2"></app-coin-exchange-carrier>
      <app-coin-exchange-carrier class="coin-exchange-carrier-4" [game]="game" [elementIndex]="3"></app-coin-exchange-carrier>
      <app-coin-exchange-carrier class="coin-exchange-carrier-5" [game]="game" [elementIndex]="4"></app-coin-exchange-carrier>
      <app-coin-exchange-carrier class="coin-exchange-carrier-6" [game]="game" [elementIndex]="5"></app-coin-exchange-carrier>
    </div>
    <div class = bonus-carrier>
      <app-squarkles-bonus [game]="game" [victoryTile]="getVictoryTile(BonusLocation.Slot0)" class="bonus-1" *ngIf="bonusExistsAtSlot(BonusLocation.Slot0)"></app-squarkles-bonus>
      <app-squarkles-bonus [game]="game" [victoryTile]="getVictoryTile(BonusLocation.Slot1)" class="bonus-2" *ngIf="bonusExistsAtSlot(BonusLocation.Slot1)"></app-squarkles-bonus>
      <app-squarkles-bonus [game]="game" [victoryTile]="getVictoryTile(BonusLocation.Slot2)" class="bonus-3" *ngIf="bonusExistsAtSlot(BonusLocation.Slot2)"></app-squarkles-bonus>
      <app-squarkles-bonus [game]="game" [victoryTile]="getVictoryTile(BonusLocation.Slot3)" class="bonus-4" *ngIf="bonusExistsAtSlot(BonusLocation.Slot3)"></app-squarkles-bonus>
      <app-squarkles-bonus [game]="game" [victoryTile]="getVictoryTile(BonusLocation.Slot4)" class="bonus-5" *ngIf="bonusExistsAtSlot(BonusLocation.Slot4)"></app-squarkles-bonus>
    </div>
    <div class="top-tier-cards-carrier">
      <app-squarekles-deck [game]="game" [tier]="Tiers.Top"></app-squarekles-deck>
      <app-squarkles-card class="resource-card-slot-1" [game]="game" [card]="getCard(Tiers.Top, CardLocation.TopTierSlot0)" [buyShouldAppear]="true" [reserveShouldAppear]="true"></app-squarkles-card>
      <app-squarkles-card class="resource-card-slot-2" [game]="game" [card]="getCard(Tiers.Top, CardLocation.TopTierSlot1)" [buyShouldAppear]="true" [reserveShouldAppear]="true"></app-squarkles-card>
      <app-squarkles-card class="resource-card-slot-3" [game]="game" [card]="getCard(Tiers.Top, CardLocation.TopTierSlot2)" [buyShouldAppear]="true" [reserveShouldAppear]="true"></app-squarkles-card>
      <app-squarkles-card class="resource-card-slot-4" [game]="game" [card]="getCard(Tiers.Top, CardLocation.TopTierSlot3)" [buyShouldAppear]="true" [reserveShouldAppear]="true"></app-squarkles-card>
    </div>
    <div class="middle-tier-cards-carrier">
      <app-squarekles-deck [game]="game" [tier]="Tiers.Middle"></app-squarekles-deck>
      <app-squarkles-card class="resource-card-slot-1" [game]="game" [card]="getCard(Tiers.Middle, CardLocation.MiddleTierSlot0)" [buyShouldAppear]="true" [reserveShouldAppear]="true"></app-squarkles-card>
      <app-squarkles-card class="resource-card-slot-2" [game]="game" [card]="getCard(Tiers.Middle, CardLocation.MiddleTierSlot1)" [buyShouldAppear]="true" [reserveShouldAppear]="true"></app-squarkles-card>
      <app-squarkles-card class="resource-card-slot-3" [game]="game" [card]="getCard(Tiers.Middle, CardLocation.MiddleTierSlot2)" [buyShouldAppear]="true" [reserveShouldAppear]="true"></app-squarkles-card>
      <app-squarkles-card class="resource-card-slot-4" [game]="game" [card]="getCard(Tiers.Middle, CardLocation.MiddleTierSlot3)" [buyShouldAppear]="true" [reserveShouldAppear]="true"></app-squarkles-card>
    </div>
    <div class="bottom-tier-cards-carrier">
      <app-squarekles-deck [game]="game" [tier]="Tiers.Bottom"></app-squarekles-deck>
      <app-squarkles-card class="resource-card-slot-1" [game]="game" [card]="getCard(Tiers.Bottom, CardLocation.BottomTierSlot0)" [buyShouldAppear]="true" [reserveShouldAppear]="true"></app-squarkles-card>
      <app-squarkles-card class="resource-card-slot-2" [game]="game" [card]="getCard(Tiers.Bottom, CardLocation.BottomTierSlot1)" [buyShouldAppear]="true" [reserveShouldAppear]="true"></app-squarkles-card>
      <app-squarkles-card class="resource-card-slot-3" [game]="game" [card]="getCard(Tiers.Bottom, CardLocation.BottomTierSlot2)" [buyShouldAppear]="true" [reserveShouldAppear]="true"></app-squarkles-card>
      <app-squarkles-card class="resource-card-slot-4" [game]="game" [card]="getCard(Tiers.Bottom, CardLocation.BottomTierSlot3)" [buyShouldAppear]="true" [reserveShouldAppear]="true"></app-squarkles-card>
    </div>
  </div>
</div>
