<div class = "game">
  <div class = "game-container">
    <h1 class = "title">TUFFBLUFF</h1>
    <p class="url-description-text">Give this URL to all friends that wish to join or watch: https://tuffbluff.com/squarekles/{{ identifier }}</p>
    <div class="coin-exchange-carrier-carrier">
      <app-coin-exchange-carrier class="coin-exchange-carrier-1" [game]="game" [elementIndex]="0"></app-coin-exchange-carrier>
      <app-coin-exchange-carrier class="coin-exchange-carrier-2" [game]="game" [elementIndex]="1"></app-coin-exchange-carrier>
      <app-coin-exchange-carrier class="coin-exchange-carrier-3" [game]="game" [elementIndex]="2"></app-coin-exchange-carrier>
      <app-coin-exchange-carrier class="coin-exchange-carrier-4" [game]="game" [elementIndex]="3"></app-coin-exchange-carrier>
      <app-coin-exchange-carrier class="coin-exchange-carrier-5" [game]="game" [elementIndex]="4"></app-coin-exchange-carrier>
      <app-coin-exchange-carrier class="coin-exchange-carrier-6" [game]="game" [elementIndex]="5"></app-coin-exchange-carrier>
    </div>
    <div class = bonus-carrier>
      <app-squarkles-bonus [game]="game" [victoryTile]="victoryTiles[game.unwonBonuses[0]]" class="bonus-1"></app-squarkles-bonus>
      <app-squarkles-bonus [game]="game" [victoryTile]="victoryTiles[game.unwonBonuses[1]]" class="bonus-2"></app-squarkles-bonus>
      <app-squarkles-bonus [game]="game" [victoryTile]="game.unwonBonuses[2] === 50 ? [] : victoryTiles[game.unwonBonuses[2]]" class="bonus-3"></app-squarkles-bonus>
      <app-squarkles-bonus [game]="game" [victoryTile]="victoryTiles[game.unwonBonuses[3]]" class="bonus-4"></app-squarkles-bonus>
      <app-squarkles-bonus [game]="game" [victoryTile]="victoryTiles[4]" class="bonus-5"></app-squarkles-bonus>
    </div>
    <div class="top-tier-cards-carrier">
      <app-squarekles-deck [game]="game" [tier]="'top'"></app-squarekles-deck>
      <app-squarkles-card class="resource-card-slot-1" [game]="game" [card]="getCard('top', 0)" [tier]="'top'"></app-squarkles-card>
      <app-squarkles-card class="resource-card-slot-2" [game]="game" [card]="getCard('top', 1)" [tier]="'top'"></app-squarkles-card>
      <app-squarkles-card class="resource-card-slot-3" [game]="game" [card]="getCard('top', 2)" [tier]="'top'"></app-squarkles-card>
      <app-squarkles-card class="resource-card-slot-4" [game]="game" [card]="getCard('top', 3)" [tier]="'top'"></app-squarkles-card>
    </div>
    <div class="middle-tier-cards-carrier">
      <app-squarekles-deck [game]="game" [tier]="'middle'"></app-squarekles-deck>
      <app-squarkles-card class="resource-card-slot-1" [game]="game" [card]="getCard('middle', 0)" [tier]="'middle'"></app-squarkles-card>
      <app-squarkles-card class="resource-card-slot-2" [game]="game" [card]="getCard('middle', 1)" [tier]="'middle'"></app-squarkles-card>
      <app-squarkles-card class="resource-card-slot-3" [game]="game" [card]="getCard('middle', 2)" [tier]="'middle'"></app-squarkles-card>
      <app-squarkles-card class="resource-card-slot-4" [game]="game" [card]="getCard('middle', 3)" [tier]="'middle'"></app-squarkles-card>
    </div>
    <div class="bottom-tier-cards-carrier">
      <app-squarekles-deck [game]="game" [tier]="'bottom'"></app-squarekles-deck>
      <app-squarkles-card class="resource-card-slot-1" [game]="game" [card]="getCard('bottom', 0)" [tier]="'bottom'"></app-squarkles-card>
      <app-squarkles-card class="resource-card-slot-2" [game]="game" [card]="getCard('bottom', 1)" [tier]="'bottom'"></app-squarkles-card>
      <app-squarkles-card class="resource-card-slot-3" [game]="game" [card]="getCard('bottom', 2)" [tier]="'bottom'"></app-squarkles-card>
      <app-squarkles-card class="resource-card-slot-4" [game]="game" [card]="getCard('bottom', 3)" [tier]="'bottom'"></app-squarkles-card>
    </div>
  </div>
</div>
