.game {
  padding-top: 38px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 1500px;
  height: 20000px;
}

.game-container {
  top: 38px;
  height: 860px;
  width: 800px;
  border: 2px solid white;
  margin: 0 auto;
  position: absolute;
  top:70px;
  margin: 0 auto;
}

.url-description-text {
  position: relative;
  font-weight: bold;
  top: -35px;
  font-size: 17px;
  text-align: center;
}

.title {
  position: absolute;
  left: 322px;
  top: -78px;
}

.bonus-carrier {
  height: 150px;
  width: 1000px;
  position: absolute;
  left: -100px;
  bottom: 700px;
}

.bonus-1 {
  height: 150px;
  width: 194px;
  position: absolute;
  top:0px;
  left:0px;
}

.bonus-2 {
  height: 150px;
  width: 194px;
  position: absolute;
  top:0px;
  left:201px;
}

.bonus-3 {
  height: 150px;
  width: 194px;
  position: absolute;
  top:0px;
  left:402px;
}

.hashtag-bonus {
  height: 150px;
  width: 194px;
  position: absolute;
  top:0px;
  left:402px;
}

.bonus-4 {
  height: 150px;
  width: 194px;
  position: absolute;
  top:0px;
  left:603px;
}

.bonus-5 {
  height: 150px;
  width: 194px;
  position: absolute;
  top:0px;
  left:804px;
}

.hashtag-bonus-cost {
  position: absolute;
  top: -30px;
  left: 5px;
  font-size: 70px;
}

.hashtag-bonus-subcaption {
  position: absolute;
  top: 100px;
  left: 15px;
}

.top-tier-cards-carrier {
  height: 225px;
  width: 1000px;
  position: absolute;
  left: -100px;
  bottom: 475px;
}

.middle-tier-cards-carrier {
  height: 225px;
  width: 1000px;
  position: absolute;
  left: -100px;
  bottom: 248px;
}

.bottom-tier-cards-carrier {
  height: 225px;
  width: 1000px;
  position: absolute;
  left: -100px;
  bottom: 21px;
}

.deck {
  height: 220px;
  width: 190px;
  position: absolute;
  top: 2px;
  left: 0px;
  border: 2px solid black;
}

.resource-card-slot-1 {
  height: 224px;
  width: 194px;
  position: absolute;
  top: 2px;
  left: 201px;
}

.resource-card-slot-2 {
  height: 224px;
  width: 194px;
  position: absolute;
  top: 2px;
  left: 402px;
}

.resource-card-slot-3 {
  height: 224px;
  width: 194px;
  position: absolute;
  top: 2px;
  left: 603px;
}

.resource-card-slot-4 {
  height: 224px;
  width: 194px;
  position: absolute;
  top: 2px;
  left: 804px;
}

.reserve-hidden-card-button {
  height: 25px;
  width: 150px;
  position: absolute;
  bottom: 4px;
  right: 20px;
}
