.coin-exchange-component {
  height: 244px;
  width: 64px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.quantity-remaining {
  position: absolute;
  top: -35px;
  left: 21px;
  font-size: 40px;
}

.quantity-being-changed {
  position: absolute;
  top: -22px;
  left: 5px;
}

.coin-pile {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 37px;
  left: 10px;
  border-radius: 50%;
  border: 2px solid black;
}

.coin-plus-quantity-remaining-plus-plus-sign-container {
  height:155px;
  width: 61px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border: 2px solid black;
}

.plus-sign {
  width:60px;
  height: 60px;
  position: absolute;
  left:0px;
  bottom: 60px;
  font-size: 40px;
}

.minus-sign {
  width:60px;
  height: 60px;
  position: absolute;
  left:0px;
  bottom: 0px;
  font-size: 40px;
}
